@import "tailwindcss";
@config "../../tailwind.config.js";

:root {
  --font-poppins: "Poppins", sans-serif;
}

@theme {
  --color-primary: #FF9308;
  --color-secondary: #22c55e;
  --color-banner:#1e1e1e;
  --color-accent:#e8c89a;
  --color-grayText:#aaaaaa;
  --color-mangoBg:#8f7838;
  --color-mangoYellow:#ffbe00;
  --font-acme: var(--font-acme);
  --font-nunito: var(--font-nunito);
}

body {
  font-family: var(--font-poppins);
}

@keyframes float {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-20px); }
}

.animate-float {
  animation: float 3.5s ease-in-out infinite;
}